{{#> page}}

{{#*inline "content"}}
<form method="POST" action="/login" id="login">
  <fieldset>
    <legend>Please login</legend>
    <div>
      <label>
        <span>Username:</span>
        <span><input type="text" name="username" placeholder="Enter your username"></span>
      </label>
    </div>
    <div>
      <label>
        <span>Password:</span>
        <span><input type="password" name="password" placeholder="Enter your password"></span>
      </label>
    </div>
    <div class="text-right">
      <input type="submit" value="Login">
    </div>
  </fieldset>
</form>
{{/inline}}

{{/page}}
